// branding
$dark = #180f02
$light = #D4CEC0
$primary = #EECE61
$secondary = #69919B
$tertiary = #4E6366

// colors
$accentColor = $primary
$textColor = $dark
$borderColor = $dark
$codeBgColor = $dark
$arrowBgColor = $secondary
$badgeTipColor = $primary
$badgeWarningColor = darken($primary, 35%)
$badgeErrorColor = darken($primary, 65%)

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
