// colors
$accentColor = #3f9676
$textColor = #2e2f32
$borderColor = #eaecef
$codeBgColor = #1f2228
$arrowBgColor = #ccc
$badgeTipColor = #2a825c
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #9b4e52

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
